.vis {
    width: calc(30% - 22px);
    height: 45%;
    margin: 8px 8px 8px 8px;
    box-shadow: 1px 2px 1px 4px rgba(1, 1, 1, 0.2);
    border: 1px;
    border-style: groove;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    display: inline-block;
    vertical-align: middle;
}

#dashboard {
    position: relative;
    margin: auto;
    padding: 0 0 0 0;
    width: 95vw;
    height: 92vh;
    text-align: center;
}

#date {
    font-size: 45px;
    font-family: monospace;
}

#datetitle {
    font-size: 50px;
    font-family: monospace;
}

.control {

    height: 40px;
    width: 50vw;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 15px;
    bottom: 0px;
}

#featuredcontainer {
    text-align: left;
    font-family: monospace;
    font-size: 16px;
    line-height: 12px;
}